<mat-toolbar>
  <span>{{expenseFormService.expenseForm.controls['id'].value == null? "New Expense": "Modify Expense"}}</span>
  <span class="fill-remaining-space"></span>
  <button class="btn-dialog-close" mat-stroked-button (click) = "onClose()" tabindex="-1"><mat-icon>clear</mat-icon></button>
</mat-toolbar>
<div class="form-control">
    <form [formGroup]="expenseFormService.expenseForm" class="normal-form">
      
        <mat-grid-list cols="2" rowHeight="150px">
          <mat-grid-tile>
            <div class="controles-container">
              <mat-form-field>
                <mat-select formControlName="expensetype" matInput placeholder="Expense Type*">
                    <mat-option *ngFor="let expenseType of expenseTypes" [value]="expenseType.name">
                      {{expenseType.name}}
                    </mat-option>
                </mat-select>
                <mat-error>This field is mandatory.</mat-error>
              </mat-form-field>
              <mat-form-field>
                <input formControlName="value" type="number"matInput placeholder="Value*">
                <mat-error>This field is mandatory.</mat-error>
              </mat-form-field>
            </div>
          </mat-grid-tile>
          <mat-grid-tile>
            <div class="controles-container">
              <mat-form-field>
                <input formControlName="date" matInput [matDatepicker]="picker" placeholder="Date*">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
                <mat-error>This field is mandatory.</mat-error>
                <!-- <mat-error *ngIf="service.form.controls['mobile'].errors?.minlength">Minimum 8 charactors needed.</mat-error> -->
              </mat-form-field>
              <mat-form-field>
                <textarea type="text" matInput placeholder="Comment" formControlName="comment" class="md-textarea-auto form-control" mdbInput></textarea>
                <!-- <input formControlName="comment" > -->
              </mat-form-field>
            </div>
          </mat-grid-tile>
        </mat-grid-list>
        <div class="button-row">
          <button mat-raised-button color="primary" type="submit" (click)="onSubmit()" [disabled]="expenseFormService.expenseForm.invalid">Submit</button>
          <button mat-raised-button color="warn" (click)="onClear()">Clear</button>
        </div>
      </form>
</div>

